:root {
  --background: #252528; /*大背景*/
  --light-background: #282A35;  /*代码框，右边栏linked ref，引用*/
  --lighter-background: #424450; /*不知道*/
  --dark-background: #202023; /*右边栏底色，linked ref，文件名*/
  --darker-background: #191a21; /*不知道*/
  --foreground: #BEBEBF; /*普通文字*/
  --current-line: #44475a; /*折叠圆点*/
  --comment: #6272a4; /*todo框，代码行，代码备注*/
  --white: var(--foreground);
  --white-hover: #f8f8f280; /*图标色*/
  --red: #ff5555; /*不知道*/
  --orange: #ffb86c; /*代码颜色*/
  --yellow: #f1fa8c; /*高亮，引述，搜索高亮*/
  --green: #94c862c9; /*代码*/
  --purple: #bd93f9; /*代码色号*/
  --purple-hover: #bf93f980; /*不知道*/
  --cyan: #81A5D5; /*不知道*/
  --cyan-hover: #8be9fd80; /*不知道*/
  --pink: #E9B071; /*双链，标签*/
  --pink-hover: #ff79c680; /*鼠标悬浮*/

  --ls-tag-text-opacity: 1;
  --ls-tag-text-hover-opacity: 0.8;
  --ls-page-text-size: 16px;
  --ls-page-title-size: 36px;
  --ls-font-family: "Fira Sans";
  --ls-font-weight: 400;
  --ls-font-letter-spacing: 0.002em;
  --ls-font-line-height: 1.5;

  --ls-border-radius-low: 3px;
  --ls-border-radius-medium: 6px;
}

.dark-theme,
html[data-theme="dark"] {
  --ls-main-content-max-width: 850px; /*页面宽度*/
  --ls-primary-background-color: var(--background);
  --ls-secondary-background-color: var(--dark-background);
  --ls-tertiary-background-color: var(--light-background);
  --ls-quaternary-background-color: var(--light-background);
  --ls-quinary-background-color: var(--darker-background);

  --ls-active-primary-color: var(--foreground);
  --ls-active-secondary-color: var(--foreground);

  --ls-primary-text-color: var(--foreground);
  --ls-secondary-text-color: var(--white-hover);

  --ls-search-background-color: var(--background);
  --ls-border-color: #848484; /*分割线颜色，竖线*/
  --ls-menu-hover-color: #44475a; /*菜单选中*/
  --ls-table-tr-even-background-color: var(--light-background);

  --ls-head-text-color: var(--foreground);
  --ls-title-text-color: var(--foreground);
  --ls-link-text-color: #94c862c9; /*内链*/
  --ls-link-text-hover-color: var(--pink-hover);
  --ls-link-ref-text-color: var(--pink);
  --ls-link-ref-text-hover-color: var(--pink-hover);
  --ls-tag-text-color: var(--pink);
  --ls-tag-text-hover-color: var(--pink-hover);

  --ls-block-bullet-border-color: var(--current-line);
  --ls-block-bullet-color: var(--foreground);
  --ls-block-highlight-color: var(--current-line);
  --ls-block-properties-background-color: var(--light-background);

  --ls-page-checkbox-color: transparent;
  --ls-page-checkbox-border-color: var(--comment);

  --ls-page-blockquote-color: var(--foreground);
  --ls-page-blockquote-bg-color: var(--light-background);
  --ls-page-blockquote-border-color: var(--yellow);

  --ls-page-inline-code-color: #81A5D5; /*行内代码*/
  --ls-page-inline-code-bg-color: var(--background);

  --ls-scrollbar-background-color: var(--background);
  --ls-scrollbar-foreground-color: var(--darker-background);
  --ls-scrollbar-thumb-hover-color: var(--light-background);

  --ls-icon-color: var(--white-hover);
  --ls-search-icon-color: var(--white-hover);
  --ls-a-chosen-bg: var(--light-background);
  --ls-right-sidebar-code-bg-color: var(--light-background);
  --ls-selection-background-color: var(--comment);
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-guideline-color: var(--ls-border-color);
}

html,
body {
  font-weight: var(--ls-font-weight);
  letter-spacing: var(--ls-font-letter-spacing);
  line-height: var(--ls-font-line-height);
  font-size: var(--ls-page-text-size);
  background-color: #282a36; /*不知道*/
}

i {
  color: var(--yellow);
}

b {
  color: var(--orange);
}

mark {
  background-color: var(--yellow);
}

.bg-orange-400 {
  background-color: var(--orange);
}

.bg-green-600 {
  background-color: var(--green);
}

.dark-theme .form-checkbox {
  border: 1px solid var(--ls-page-checkbox-border-color) !important;
  border-radius: var(--ls-border-radius-low) !important;
}

.external-link {
  color: #81A5D5; /*外链颜色*/
  text-decoration: none;
  border-bottom: none;
}

.external-link:hover {
  color: var(--cyan-hover);
}

.ls-block h1,
.ls-block h2,
.ls-block h3,
.ls-block h4,
.ls-block h5,
.ls-block h6 {
  font-weight: 400;
}

.CodeMirror {
  font-family: "FiraCode Nerd Font", "Fire Code", monospace;
  line-height: 1.2;
  background: var(--background);
}

.cm-s-default.CodeMirror,
.cm-s-default .CodeMirror-gutters {
  background-color: transparent;
  color: var(--white) !important;
  border: none;
}

.extensions__code-lang {
  background: var(--light-background);
}

.cm-s-default.CodeMirror {
  border: 5px solid var(--light-background);
}

.cm-s-default .CodeMirror-gutters {
  color: var(--background);
}
.cm-s-default .CodeMirror-cursor {
  border-left: solid thin var(--white);
}
.cm-s-default .CodeMirror-linenumber {
  color: var(--comment);
}
.cm-s-default .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-line {
  box-shadow: none;
}

.cm-s-default .CodeMirror-line::selection,
.cm-s-default .CodeMirror-line > span::selection,
.cm-s-default .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-default .CodeMirror-line::-moz-selection,
.cm-s-default .CodeMirror-line > span::-moz-selection,
.cm-s-default .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-default span.cm-comment {
  color: var(--comment);
}
.cm-s-default span.cm-string,
.cm-s-default span.cm-string-2 {
  color: var(--yellow);
}
.cm-s-default span.cm-number {
  color: var(--purle);
}
.cm-s-default span.cm-variable {
  color: var(--green);
}
.cm-s-default span.cm-variable-2 {
  color: var(--white);
}
.cm-s-default span.cm-def {
  color: var(--green);
}
.cm-s-default span.cm-operator {
  color: var(--pink);
}
.cm-s-default span.cm-keyword {
  color: var(--pink);
}
.cm-s-default span.cm-atom {
  color: var(--purple);
}
.cm-s-default span.cm-meta {
  color: var(--white);
}
.cm-s-default span.cm-tag {
  color: var(--pink);
}
.cm-s-default span.cm-attribute {
  color: var(--green);
}
.cm-s-default span.cm-qualifier {
  color: var(--green);
}
.cm-s-default span.cm-property {
  color: var(--cyan);
}
.cm-s-default span.cm-builtin {
  color: var(--green);
}
.cm-s-default span.cm-variable-3,
.cm-s-default span.cm-type {
  color: var(--orange);
}

.cm-s-default .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-default .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: var(--white) !important;
}

#right-sidebar pre.CodeMirror-line {
  background: transparent;
}
/* === 外部链接加图标 ====*/ 
    a.external-link {border-bottom: 0px;}
    a.external-link:after {
        display:inline-block;
        content:"";
        width: 21px;
        height:16px;
        background: 
          transparent
            50% 200%/54%
            url('https://svgshare.com/i/SWJ.svg') no-repeat; 
      	filter: invert(45%) sepia(100%) saturate(100%) hue-rotate(0deg) brightness(110%) contrast(249%);
    }